<p> About </p>

<!-- About one Section -->
<div class="section about-section about-one set-bg" data-setbg="/src/app/img">
  <div class="about-content-warp text-white">
    <h2>Artistic Portraits</h2>
    <p>Maecenas facilisis facilisis consequat. Curabitur fringilla pellen-tesque neque, imperdiet efficitur urna gravida vel. Cras augue diam, sollicitudin sit amet felis ut, eleifend faucibus dui. Proin euis-mod suscipit lacus, et scelerisque nisi aliquam a. Nunc feugiat mattis quam, ut luctus enim ultrices at.</p>
    <div class="site-btn"><span>Read More</span></div>
  </div>
</div>
<!-- About one Section end-->
